.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

.htaccess
# stuff for python deploy
post-receive
Makefile
git-ftp.py
git-ftp.1
git-ftp-test.py