SetEnv APPENV development
AddType text/x-component .htc
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/webm .webm

<IfModule mod_rewrite.c>
  #RewriteBase /2013/ono
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) index.php?/$1
</IfModule>
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>